.foodResult {
	margin: 5px 15px 5px 5px;
	width: 100%;
	height: 53px;
}

.foodHeading {
	width: 100%;
	height: 50px;
	vertical-align:text-top;
}

.foodBody {
	display: inline-block;
	padding: 2px;
	height: 100%;
}

.foodPic {
	width: 50px;
	height: 50px;
	float: left;
	margin: 0px 5px 3px 0px;
	vertical-align:text-top;
	border: 1px solid black;
}

.validPic {
	width: 15px;
	height: 15px;
	margin: -2px 5px 0px 0px;
}

.searchPanel {
	position: static;
	padding:.2em;
	display: inline-block;
	width: 1000px;
}

.foodBody p {
	font-size: 12px;
}

#Pagination {
	margin-left: auto;
	margin-right: auto;
}