<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}Dough{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="/dough/static/jquery/css/redmond/jquery-ui-1.8.11.custom.css" /> 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

{% block resources %}
{% endblock %}

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
