<html>
<head>

<style>

#summary-div {
    float: left;
    width: 48%;
}

#visualization-div {
    float: right;
    width: 48%;
    position: relative;
}

#purchases-div {
    float: left;
    width: 48%;
    position: relative;
}

#purchases-table-div {
    max-height: 160px;
    overflow: auto;
}

#purchases-div table {
    border-collapse:collapse;
}

#summary-div span {
    border-style: none !important;
    font-weight: bold;
}

td, th {
    text-align: left;
    padding: 0.4em;
}

.jtable tr .ui-state-hover {
    font-weight: normal;
}

</style>


<script type="text/javascript" src="/dough/static/flot/jquery.flot.min.js"/>

<script>

// Global state variable
var currentState = {}

var refreshPlot = function(monthly_budget) {
    $.plot($("#flot-placeholder"), [
        {
            data: {{ plot_data }},
            bars: {show: true}
        },
        {
            data: [[1,monthly_budget],[13,monthly_budget]]
        }
    ], {
        xaxis: {
            ticks: {{ plot_xticks|safe }}
        },
        yaxis: {
            min: 0
        } 
    });
    $('.tickLabel').each(function(){
        var me = $(this);
        me.css('left',parseInt(me.css('left'))+16+'px');
    });
}

var submitBudgetChange = function() {
    var val = $("#change-budget-input").val();
    if (!(/^\d*$/.test(val))) {
        // If not an integer, don't submit.
        return true;
    }
    $.ajax({
        type:"POST",
        url:"/dough/ajax/set_budget/",
        data:{budget:val},
        complete:function(res,status){
            if (status == "success") {
                displayBudgetProgress({{ spent_this_month }},val);
                refreshPlot(val);
            } else {
                alert(res.responseText);
                alert("Failed to change budget. Please reload page.");
            }
        }
    });
    return false;
}

var themeTable = function() {
    $(".jtable th").each(function(){
        $(this).addClass("ui-state-default");
    });
    $(".jtable td").each(function(){
        $(this).addClass("ui-widget-content");
    });
    $(".jtable tr").hover(
        function() {
            $(this).children("td").addClass("ui-state-hover");
        },
        function() {
            $(this).children("td").removeClass("ui-state-hover");
        }
    );
}

/*
var resizePurchasesTable = function() {
    var offset = $("#purchases-table-div").offset();
    var height = $(document).height() - offset.top - 25;
    $("#purchases-table-div").css("height",height);
}*/

var purchaseEditSubmit = function(newAmount,obj) {
    $.ajax({
        type:"POST",
        url:"/dough/ajax/edit_purchase/"+currentState.purchaseId+"/",
        data:{amount:newAmount},
        complete:function(res,status) {
            if (status == "success") {
                $(obj).html("$"+newAmount);
                $("#reload-tab-cb").get(0).click();
            } else {
                alert("Failed to set purchase amount. Please refresh page.");
            }
        }
    });
}

$(function(){
    themeDiv("summary-div");
    themeDiv("purchases-div");
    themeDiv("visualization-div");

    displayBudgetProgress({{ spent_this_month }},{{ monthly_budget }});
    refreshPlot({{monthly_budget}});

    $("#change-budget-submit").button()
        .click(submitBudgetChange);
    themeTable();
    //resizePurchasesTable();
    
    $(".purchase-edit-span").focus(function(){
        currentState.purchaseAmount = $(this).html();
        currentState.purchaseId = $(this).attr("title");
    }).focusout(function(){
        // Validate the number
        var html = $(this).html();
        var newAmount = parseFloat(html);
        if (isNaN(newAmount)) {
            if (html[0] == "$") {
                newAmount = parseFloat(html.substr(1));
                if (isNaN(newAmount)) {
                    // Invalid
                    $(this).html(currentState.purchaseAmount);
                } else {
                    purchaseEditSubmit(newAmount,this);
                }
            } else {
                // Invalid
                $(this).html(currentState.purchaseAmount);
            }
        } else {
            purchaseEditSubmit(newAmount,this);
        }
    });

    $('.progressbar-placeholder > div').addClass("ui-state-default");

});


</script>
</head>
<body>

<div id="summary-div">
    <div>Summary</div>
    <div>
    <p><div class="progressbar-placeholder" style="position:relative">
    <span class="budget-progress-spent" style="position:absolute;top:6px;left:10px">$41.27</span>
    <span class="budget-progress-left" style="position:absolute;top:6px;right:10px">$258.73</span>
    </div></p>

    <p>You've spent <span class="budget-progress-spent">${{ spent_this_month }}</span> of your <span class="budget-progress-budget">${{ monthly_budget }}</span> budget.</p>
    <p>You have <span class="budget-progress-left"></span> left to spend this month.</p>

<form>
$<input id="change-budget-input" type="number" style="width:80px;" value="{{ monthly_budget }}"/>
<small><input type="submit" id="change-budget-submit" value="Change monthly budget"/></small>
</form>

</div>
</div>

<div id="visualization-div">
    <div>Spending over the last year</div>
    <div>
    <div id="flot-placeholder" style="height:300px"></div>
    </div>
</div>

<div id="purchases-div">
    <div>Latest purchases</div>
    <div>
    <div id="purchases-table-div">
    <table class="jtable" style="width=100%;">
    {% for purchase in purchases %}
    <tr>
        <td width="40%">{{ purchase.date }}</td>
        <td><span contentEditable="true" title="{{purchase.id}}" class="purchase-edit-span">${{ purchase.amount }}</span></td>
        <td width="100%">{{ purchase.foodItems }}</td>
    </tr>
    {% endfor %}
    </table>
    </div></div>
</div>

<input type="checkbox" name="budget" id="reload-tab-cb" style="display:none;"/>

</body>
</html>
