<html>
<head>

<style>
#purchases {
    overflow: auto;
    width: 100%;
    height: 100px;
}

#purchases table {
    border-collapse:collapse;
}

#purchases table, th, td {
    //border: 1px solid black;
}

</style>

<script>

$(function(){
    $("#budget-tabs").tabs();
    $("#percent-progress").progressbar({value:13.8});

    setBudgetProgress(41.27);
});

var setBudgetProgress = function(progress) {
    $("#budget-progress-spent").html(progress);
}


</script>
</head>
<body>

<h2>Monthly Budget</h2>

<div id="budget-tabs">
<ul>
    <li><a href="#percent">Percent</a></li>
    <li><a href="#spending">Spending over time</a></li>
    <li><a href="#edit-budget">Edit Budget</a></li>
</ul>
<div id="percent">
    <p><div id="percent-progress">
        <span id="budget-progress-spent" style="position:absolute;top:75px;left:45px">$41.27</span>
        <span id="budget-progress-left" style="position:absolute;top:75px;left:400px">$258.73</span>
    </div></p>
    
    <p>You've spent $41.27 of your $300.00 budget.</p>
    <p>To stay on track, you have $65 left to spend this week.</p>
    <p>You have $258.73 left to spend this month.</p>
</div>
<div id="spending">
Pretty graph here
</div>
<div id="edit-budget">
Sorry, you can't edit your budget yet!
</div>

</div>

<h2>Latest Purchases</h2>

<div id="purchases">
<table style="width=100%">
{% for purchase in purchases %}
<tr class="ui-state-default">
    <td>${{ purchase.amount }}</td>
    <td width="100%" style="text-align:right;">{{ purchase.date }}</td>
</tr>
{% endfor %}
</table>
</div>


</body>
</html>
