<html> 
<head> 
<link rel="stylesheet" type="text/css" href="/dough/static/css/foodlayout.css" />

<!--
<link rel="stylesheet" type="text/css" href="/dough/static/jquery/css/redmond/jquery-ui-1.8.11.custom.css" />
<script type="text/javascript" src="/dough/static/jquery/js/jquery-1.5.1.min.js"></script> 
<script type="text/javascript" src="/dough/static/jquery/js/jquery-ui-1.8.11.custom.min.js"></script>
-->
<script type="text/javascript" src="/dough/static/js/sortable_us.js"></script>
<script type="text/javascript" src="/dough/static/js/farbtastic/farbtastic.js"></script>
<link rel="stylesheet" href="/dough/static/js/farbtastic/farbtastic.css" type="text/css" />
<script type="text/javascript"> 




//add datepicker();

    /*
    $(function() {
        var foodItems = [];
        foodItems[0] = {
            name: "bananas",
            expiration: "2012-05-22",
            location: "1",
            category: "fruit"
        };
        $.ajax({
            type:"POST",
            url:"/dough/ajax/add_food_items/",
            data:{
                purchase_amount:"88.88",
                purchase_date:"2011-04-23",
                food_items:JSON.stringify(foodItems)
            }
        });
    });
    */

	$(function() {
	$("#datepickerP").datepicker()
	$( "#datepickerP" ).datepicker( "option", "dateFormat", 'mm-dd-yy' );
	$("#datepickerP").datepicker("setDate", new Date()); 
	});

function registerDP() {
	$(function() {
		$('.datep').each(function(index){
    		$(this).datepicker();
    		});
		
	});
	
}
registerDP();

	
	$(function() {
		$( "button, input:submit, a", ".demo" ).button();
		$( "a", ".demo" ).click(function() { return false; });
	});
 
 
 $(document).ready(function(){

 $("#checkboxall").click(function()
  {
   var checked_status = this.checked;
   $("input[name=checkall]").each(function()
   {
    this.checked = checked_status;
   });
  });

});

 $(document).ready(function(){
$("#addsubmit").click(function()
	{
	$('#mask, .window').hide();

		$('.foodinrow').each(function(index) //each tr 
   {
    	//add food to db
    	if($(this).find('.foodin').val().length >0  ){
    $(function() {
        var foodItems = [];
        foodItems[0] = {
            name: $(this).find('.foodin').val(),//"bananas",
            expiration: $.datepicker.formatDate('yy-mm-dd', $(this).find('.datep').datepicker( "getDate" )),
            location: "1",
            category: "fruit"
        };
        $.ajax({
            type:"POST",
            url:"/dough/ajax/add_food_items/",
            data:{
                purchase_amount: $(this).find("#purchaseCostI").val(),//"88.88",
                purchase_date: $.datepicker.formatDate('yy-mm-dd', $(this).find('#datepickerP').datepicker( "getDate" )),//"2011-04-23",
                food_items:JSON.stringify(foodItems)
            }
        });
    });
    
    		
    		$('#foods').append( '<tr><td><input type="checkbox" name="checkall" value="food2"/></td><td>' + $(this).find('.foodin').val() +  '</td><td>Tags</td><td>Catagory</td><td>'+ 
    		$.datepicker.formatDate('mm/dd/y', $(this).find('.datep').datepicker( "getDate" )) +
    		'</td><td>'+ $.datepicker.formatDate('mm/dd/y', $('#datepickerP').datepicker( "getDate" )) + ' </td></tr>') ;
    		
    		//clear row
    		$(this).find('.foodin').val('');
    		$(this).find('.datep').datepicker( "setDate" , null );
    	}
    	
    	
    	
   });
   
   //clear purchase date:
   $("#datepickerP").datepicker("setDate", new Date());  //reset to today
   	
	
	
	});
});


//modal adding window
$(document).ready(function() {	

	//select all the a tag with name equal to modal
	$('button[name=modal]').click(function(e) {
		//Cancel the link behavior
		e.preventDefault();
		//Get the A tag
		var id = $(this).attr('href');
	
		//Get the screen height and width
		var maskHeight = $(document).height();
		var maskWidth = $(window).width();
	
		//Set height and width to mask to fill up the whole screen
		$('#mask').css({'width':maskWidth,'height':maskHeight});
		
		//transition effect		
		$('#mask').fadeIn(1000);	
		$('#mask').fadeTo("slow",0.8);	
	
		//Get the window height and width
		var winH = $(window).height();
		var winW = $(window).width();
              
		//Set the popup window to center
		$(id).css('top',  winH/2-9*$(id).height()/10);
		$(id).css('left', winW/2-$(id).width()/2);
	
		
	
		//transition effect
		$(id).fadeIn(2000); 
	
	});
	
	//if close button is clicked
	$('.window .close').click(function (e) {
		//Cancel the link behavior
		e.preventDefault();
		$('#mask, .window').hide();
		
		
	});		
	
	//if mask is clicked
	$('#mask').click(function () {
		$(this).hide();
		$('.window').hide();
	});			
	
});


//add more food fields button
var counter = 1;
var limit = 10;
 $(document).ready(function(){
   $("#addinputbutton").click(function(event){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newtr = document.createElement('tr');
          newtr.class = "foodinrow";
          foodINum = foodINum + 1; 
          //newtr.innerHTML ='<td><input type="text" name="foodname" size="25" class="foodin">  </td><td>  <input type="text" id="datepicker3"></td><td>Tags </td><td><select><option>Dairy</option><option>Fruit</option><option>Grains</option><option>Protein</option><option>Vegetables</option></select></td>';
          //document.getElementById(divName).appendChild(newtr);
          $("#addfoodtable tr:last").prev().before('<tr><td><input type="text" name="foodname" size="25" class="foodin">  </td><td>  <input type="text" class="datep"></td><td><ui class ="locI"><li><div class ="locButton" ' 
          + 'name="foodGroup' + foodINum + '" ><img src="/dough/static/images/_fridge_icon.png"></div></li><li><div class ="locButton" '
          + 'name="foodGroup' + foodINum + '" ><img src="/dough/static/images/_ice_icon.png" ></div></li><li><div class ="locButton" '
          + 'name="foodGroup' + foodINum + '" ><img src="/dough/static/images/_shelf_icon.png" ></div></li></ui></td><td><select><option>Dairy</option><option>Fruit</option><option>Grains</option><option>Protein</option><option>Vegetables</option></select></td></tr>');
          registerDP(); //make sure new datepickers are registered
           //same for buttons
          counter++;
     }
   });
 });
 
 
//menu buttons

//set up extra classes
function setupLocButtons(){
foodINum = 1;
cycleCount = 1; 
$('.locButton').each(function(index){
	if(cycleCount < 4) {
    	//$(this).addClass("foodGroup" + foodINum);	
    }else{
    	cycleCount = 1; 
    	foodINum = foodINum+ 1; 
    }
    	$(this).attr('name', "foodGroup" + foodINum);
    	cycleCount = cycleCount + 1; 
    	
    });
    }
setupLocButtons()
 
var clickColor = "#80FCB2";
var clickColorL = "rgb(128, 252, 178)";
$('.locButton').live('mouseenter', function() {
	if($(this).css("background-color") != clickColorL){
		$(this).css("background-color", "#686868"); 
		}
});

$('.locButton').live('mouseleave', function() {
if($(this).css("background-color") != clickColorL){
	
  $(this).css("background-color", "#C0C0C0");
  }
});

$('.locButton').live('click', function() {
if($(this).css("background-color") != clickColorL){
  	
  	var groupName = $(this).attr('name');
  	//alert(groupName); 
  	$('[name=' + groupName+']').each(function(index, obj){
    	if($(obj).css("background-color") == clickColorL){
			$(obj).css("background-color", "#C0C0C0"); 
		}
	});
	$(this).css("background-color", clickColor);
}
});


</script> 
</head> 
<body> 
		<div id="boxes">
			<!-- #customize your modal window here -->

		<div id="dialog" class="window" class="ui-dialog ui-widget ui-widget-content ui-corner-all">
		
    	<div class="ui-widget-header ui-dialog-titlebar ui-corner-all">
        <span class="ui-dialog-title-dialog">Add Food</span>
    	</div>
    	
		Specify purchase date  <input type="text" id="datepickerP" /> for all items. <br>
		<table id="addfoodtable" style='table-layout:fixed'>
 		<col width=160>
		<col width=70>
 		<col width=300>
 		<col width=100>
 
		<tr>
		<td > Item </td><td>  Expiration Date</td><td>Location </td><td>Catagory</td>
		</tr>
		
		<tr class="foodinrow">
		<td > <input type="text" name="foodname" size="25" class="foodin" height="100"> </td><td>  <input type="text"  class="datep"></td><td>
		
		<ui class ="locI">
		<li><div class ="locButton" ><img src="/dough/static/images/_fridge_icon.png"></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_ice_icon.png" ></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_shelf_icon.png" ></div></li>
		</ui>
		 
		</td><td>
			<select><option>Dairy</option><option>Fruit</option><option>Grains</option><option>Protein</option><option>Vegetables</option></select></td>
		</tr>
		<tr class="foodinrow">
		<td> <input type="text" name="foodname" size="25" class="foodin"> </td><td> <input type="text"  class="datep"></td><td>
		<ui class ="locI">
		<li><div class ="locButton" ><img src="/dough/static/images/_fridge_icon.png"></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_ice_icon.png" ></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_shelf_icon.png" ></div></li>
		</ui>
		</td><td>
					<select><option>Dairy</option><option>Fruit</option><option>Grains</option><option>Protein</option><option>Vegetables</option></select></td>
		</tr>
		<tr class="foodinrow">
		<td> <input type="text" name="foodname" size="25" class="foodin">  </td><td>  <input type="text" class="datep"></td><td>
		<ui class ="locI">
		<li><div class ="locButton" ><img src="/dough/static/images/_fridge_icon.png"></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_ice_icon.png" ></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_shelf_icon.png" ></div></li>
		</ui></td><td>	
			<select><option>Dairy</option><option>Fruit</option><option>Grains</option><option>Protein</option><option>Vegetables</option></select></td>
		</tr>
		<tr class="foodinrow">
		<td> <input type="text" name="foodname" size="25" class="foodin">  </td><td>  <input type="text"  class="datep"></td><td>
			<ui class ="locI">
		<li><div class ="locButton" ><img src="/dough/static/images/_fridge_icon.png"></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_ice_icon.png" ></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_shelf_icon.png" ></div></li>
		</ui>
		</td><td>	
			<select><option>Dairy</option><option>Fruit</option><option>Grains</option><option>Protein</option><option>Vegetables</option></select></td>
		</tr>		
		<tr class="foodinrow">
		<td> <input type="text" name="foodname" size="25" class="foodin">  </td><td>  <input type="text"  class="datep"></td><td>
		<ui class ="locI">
		<li><div class ="locButton" ><img src="/dough/static/images/_fridge_icon.png"></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_ice_icon.png" ></div></li>
		<li><div class ="locButton"><img src="/dough/static/images/_shelf_icon.png" ></div></li>
		</ui>
		</td><td>	
			<select><option>Dairy</option><option>Fruit</option><option>Grains</option><option>Protein</option><option>Vegetables</option></select></td>
		</tr>	
				<tr>
		<td> </td><td> </td><td> </td><td>	
			<button  id="addinputbutton" ><b>+</b></button></td>
			
		</tr>
		
		<tr>
		<td><br> Cost of Purchases ($) </td><td><br><input type="text" name="food" size="8" id="purchaseCostI"> </td><td> </td><td>	
		</td>
			
		</tr>
		
		</table>
		<table>
		<tr>
		<td> </td><td> </td><td> <input type="submit" id="addsubmit" value="Submit"/></td><td>	
			<input type="submit" class="close" value="Cancel"/></td>
			
		</tr>
		</table>
		<br>
		
		</div>
	
		<!-- Do not remove div#mask, because you'll need it to fill the whole screen -->	
 		
	
		</div>
 

	<div id="contentwrapper">
		<div id="contentcolumn">
		<div class="ui-dialog ui-widget ui-widget-content ui-corner-all" style="position:static;width:100%">
    <div class="ui-widget-header ui-dialog-titlebar ui-corner-all">
        <span class="ui-dialog-title-dialog">Food</span>
    </div>
		<div id="foodlist">
			<div id="flbuttonbar">
			<button>Select</button> <button id="deletebutton">Delete</button>   
			<button>Find Recipes</button>
			<button name="modal" href="#dialog"><b>Add Foods</b></button>

			</div>

		
		<table id="foods" class="sortable" style='table-layout:fixed'>
 		<col width=40>
		<col width=150>
 		<col width=100>
 		<col width=100>
 		<col width=160>
 		<col width=160>
 		
		<tr id="foodlistcol">
		<td class="unsortable"> <input type="checkbox" name="food" id="checkboxall" />  </td><td>  Name</td><td>Tags </td><td>Catagory </td><td>Expiration Date</td><td>Purchase Date</td>
		</tr>
		{% if food_list %}
    
    {% for food in food_list %}
    	<tr><td> <input type="checkbox" name="checkall" value="food1" />  </td>
        <td>{{ food.name }}</td>
        <td class="tag">
        {% ifequal food.location 0 %}
        <div class="fridgeTag">Fridge</div> 
        {% endifequal %} 
        {% ifequal food.location 1 %}
        <div class="freezerTag">Freezer</div> 
        {% endifequal %} 
        {% ifequal food.location 2 %}
        <div class="cabinetTag">Cabinet</div> 
        {% endifequal %} 
        </td>
        <td>catagory</td> 
        <td>{{ food.expiration|date:"m/d/y"  }}</td><td>{{ food.purchase.date|date:"m/d/y" }}</td>
        </tr>
    {% endfor %}
   
{% else %}
    <p>No food are available.</p>
{% endif %}
		
		
		</table>

		</div>
		
	</div>
	</div>
	</div>

	<div id="leftcolumn" class="ui-corner-all">

	<b>Catagories</b> 
	
		<div id="navcontainer">
		<ul id="navlist">
		<li id="active"><a href="#" id="current"><b>All</b></a></li>
		<li id="active"><a href="#">Dairy</a></li>
		<li><a href="#">Fruits</a></li>
		<li><a href="#">Grains</a></li>
		<li><a href="#">Protein</a></li>
		<li><a href="#">Vegetables</a></li>
		</ul>
		</div>
		<br>
	<b>Location</b> 
	
		<div id="navcontainer">
		<ul id="navlist">
		<li id="active"><a href="#" id="current"><b>All</b></a></li>
		<li><a href="#">Refrigerator</a></li>
		<li><a href="#">Freezer</a></li>
		<li><a href="#">Cabinet</a></li>
		</ul>
		</div>
		<br><br><br><br><br>
	
	
	
	
</div> 
 
 
</body> 
</html> 
