{% extends "base.html" %}

{% block title %}Dough{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/dough/static/css/layout.css" /> 
<script type="text/javascript" src="/dough/static/js/dough.js"></script>

<script>
$(function(){
    displayBudgetProgress({{spent_this_month}},{{monthly_budget}});
    $(".progressbar-placeholder > div").addClass("ui-state-default");
})
</script>

{% endblock %}
 
{% block content %}

<div id="account-bar" class="ui-widget">
    {{ username }} | <a href="/dough/logout/">logout</a>
</div>

<div id="mask"></div>
<div id="logo"><img src="/dough/static/images/dough.png" height="100px"/></div> 
 
<div class="vert-space"></div>

<div id="main-tabs">
<ul>
    <li><div class="horiz-space"></div></li>
    <li><a href="#home">Home</a></li>
    <li><a href="food" title="food">Food</a></li>
    <li><a href="budget" title="budget">Budget</a></li>
    <li><a href="recipes" title="recipes">Recipes</a></li>

</ul>
<div id="home">

<div>

<div id="home-food-div">
    <div>Food</div>
    <div>
    You have {{numExpiringSoon}} foods expiring in the next 3 days:
    <ul>
        {% for item in expiringSoon %}
        <li>{{item.name}}</li>
        {% endfor %}
    </ul>
    You have a total of {{ numFoodItems }} food items.

    <button id="food-button" href="food.html">Manage food supply</button>    
    </div>
</div>

</div>

<div>

<div id="home-budget-div">
    <div>Budget</div>
    <div>
        <p><div class="progressbar-placeholder" style="position:relative">
            <span class="budget-progress-spent" style="position:absolute;top:6px;left:10px">$</span>
            <span class="budget-progress-left" style="position:absolute;top:6px;right:10px">$</span>
        </div></p>
        <p>You've spent <span class=budget-progress-spent"">${{ spent_this_month }}</span> of your <span class="budget-progress-budget">${{ monthly_budget }}</span> budget.</p>
        <button id="budget-button" href="budget.html">Manage budget</button>
    </div>

</div>


<div id="home-recipes-div">
    <div>Recipies</div>
    <div>
    <button id="recipes-button" href="recipies.html">Search for recipes</button>
    </div>
</div>

</div>

</div>
</div>

{% endblock %}
