{% extends "base.html" %}

{% block title %}Dough{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/dough/static/css/layout.css" /> 
<script type="text/javascript" src="/dough/static/js/dough.js"></script>

<script>
$(function(){
    displayBudgetProgress({{spent_this_month}},{{monthly_budget}});
    $(".progressbar-placeholder > div").addClass("ui-state-default");
})
</script>

{% endblock %}
 
{% block content %}

<div id="account-bar" class="ui-widget">
    {{ username }} | <a href="/dough/logout/">logout</a>
</div>

<div id="mask"></div>
<div id="logo"><img src="/dough/static/images/dough.png" height="100px"/></div> 
 
<div class="vert-space"></div>

<div id="main-tabs">
<ul>
    <li><div class="horiz-space"></div></li>
    <li><a href="home" title="home">Home</a></li>
    <li><a href="food" title="food">Food</a></li>
    <li><a href="budget" title="budget">Budget</a></li>
    <li><a href="recipes" title="recipes">Recipes</a></li>

</ul>
</div>

{% endblock %}
