{% extends "base.html" %}

{% block title %}Dough{% endblock %}

{% block resources %}
<link rel="stylesheet" type="text/css" href="/dough/static/css/layout.css" /> 
<script type="text/javascript" src="/dough/static/js/dough.js"></script>

<style>
.splash-div {
    position: static;
    width: 1000px;
}
</style>

{% endblock %}
 
{% block content %}

<div id="account-bar" class="ui-widget">
    {{ username }} | <a href="/dough/logout/">logout</a>
</div>

<div id="mask"></div>
<div id="logo"><img src="/dough/static/images/dough.png" height="100px"/></div> 
 
<div class="vert-space"></div>

<div id="main-tabs">
<ul>
    <li><div class="horiz-space"></div></li>
    <li><a href="#home">Home</a></li>
    <li><a href="food" title="food">Food</a></li>
    <li><a href="budget" title="budget">Budget</a></li>
    <li><a href="recipes" title="recipes">Recipes</a></li>

</ul>
<div id="home">


<div class="splash-div ui-dialog ui-widget ui-widget-content ui-corner-all">

    <div class="ui-widget-header ui-dialog-titlebar ui-corner-all">
        <span class="ui-dialog-title-dialog">Food</span>
    </div>

    <div class="ui-dialog-content">
        <button id="food-button" href="food.html">Manage food supply</button>    
    </div>

</div>


<br/>


<div class="splash-div ui-dialog ui-widget ui-widget-content ui-corner-all">

    <div class="ui-widget-header ui-dialog-titlebar ui-corner-all">
        <span class="ui-dialog-title-dialog">Budget</span>
    </div>

    <div class="ui-dialog-content">
        <p><div id="percent-progress" style="position:relative">
            <span id="budget-progress-spent" class="ui-widget-header" style="position:absolute;top:6px;left:10px">$</span>
            <span id="budget-progress-left" style="position:absolute;top:6px;right:10px">$</span>
        </div></p>
        <p>You've spent <span id="spent-span-home">${{ spent_this_month }}</span> of your <span id="budget-span-home">${{ monthly_budget }}</span> budget.</p>
        <button id="budget-button" href="budget.html">Manage budget</button>
    </div>

</div>


<br/>


<div class="splash-div ui-dialog ui-widget ui-widget-content ui-corner-all">

    <div class="ui-widget-header ui-dialog-titlebar ui-corner-all">
        <span class="ui-dialog-title-dialog">Recipes</span>
    </div>

    <div class="ui-dialog-content">
        <button id="recipes-button" href="recipies.html">Search for recipes</button>
    </div>

</div>


</div>
</div>

{% endblock %}
