<html>

<head>

	<link rel="stylesheet" type="text/css" media="screen" href="/dough/static/css/recipe.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/dough/static/css/pagination.css">
	
	<script type="text/javascript" src="/dough/static/jquery/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/dough/static/jquery/js/jquery.xdomainajax.js"></script>
	<script type="text/javascript" src="/dough/static/jquery/js/jquery.pagination.js"></script>
	<script type="text/javascript" src="/dough/static/js/recipe.js"></script>
	<!--<script type="text/javascript" src="/dough/static/js/prototype.js"></script>-->
	
<script>

$(function() {

	{% if food_list %}
	{% for food in food_list %}
	ingredients.push("{{ food.name }}");
	{% endfor %}
	{% endif %}
	
	try {
		doQuery(ingredients,excludes,focuses,meal_types,current_page+1,true);
	} catch (e) {
		alert(e);
	}
	
	$("#myTable").dataTable({
		"bLengthChange":false,
		"sScollY":"100px",
		"bPaginate":false,
		"bJQueryUI":true,
		"aoColumnDefs": [{ "bSortable": false, "aTargets": [ 0 ] },
						 { "sWidth": "10%", "aTargets": [ 0 ] },
						 { "sWidth": "45%", "aTargets": [ 1 ] },
						 { "sWidth": "45%", "aTargets": [ 2 ] }]
	});
	
	$("input").change(function() {
		alert("changed");
	});
});

</script>

</head>

<body>

<div>
{% if food_list %}

<table id="myTable">
<thead> 
<tr>
	<th><input type="checkbox" name="food" value="all" /></th>
    <th class="tableCol">Food</th> 
    <th class="tableCol">Expiration</th> 
</tr> 
</thead>

<tbody>
{% for food in food_list %}
	<tr>
	   <td><input type="checkbox" name="food" value={{ food.name }} /></td>
       <td>{{ food.name }}</td>
       <td>{{ food.expiration|date:"m/d/y"  }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>

{% else %}
   <p>No food are available.</p>
{% endif %}

<div class="searchPanel ui-widget ui-widget-content ui-corner-all ui-dialog">
	<div class="ui-dialog-content">
		<div>
			<div id="Count"></div>
			<div id="Results"></div>
			<div id="Pagination"></div>
		</div>
	</div>
</div>

</body>

</html>
