<html>

<head>

	<link rel="stylesheet" type="text/css" media="screen" href="/dough/static/css/recipe.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/dough/static/css/pagination.css">
	

	<script type="text/javascript" src="/dough/static/js/prototype.js"></script>
	<script type="text/javascript" src="/dough/static/jquery/js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="/dough/static/jquery/js/jquery.xdomainajax.js"></script>
	<script type="text/javascript" src="/dough/static/js/recipe.js"></script>
	<script type="text/javascript" src="/dough/static/jquery/js/jquery.pagination.js"></script>

</head>

<body>

<div id="Content">
		<div style="width:300px;position:static;display:inline;" class="searchPanel ui-widget ui-widget-content ui-corner-all ui-dialog" > 
    		<div class="ui-widget-header ui-dialog-titlebar ui-corner-all"> 
        		<span class="ui-dialog-title-dialog">Search Options</span>
    		</div>
		</div>
		<div style="width:300px;position:static;display:inline;" class="searchPanel ui-widget ui-widget-content ui-corner-all ui-dialog">
			<div style="margin-top:15px;margin-botton:15px;font-size:16px;position:static;">
				<div id="Count"></div>
				<div id="Results"></div>
				<div align="center" id="Pagination"></div>
			</div>
		</div>
</div>
	
</body>

</html>
